@import "~bootstrap/scss/custom-forms";

.custom-input-icon {
  position: relative;
  width: 100%;

  > .form-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: ($input-btn-padding-y + (.875rem / 2));
    width: .875rem;
    height: .875rem;

    > * {
      vertical-align: top;
    }

    &.form-icon-right {
      left: auto;
      right: ($input-btn-padding-y + (.875rem / 2));

      ~ .form-control {
        padding-right: ($input-btn-padding-y * 3) + .875rem;
      }
    }

    &:not(.form-icon-right) ~ .form-control {
      padding-left: ($input-btn-padding-y * 3) + .875rem;
    }
  }
}
