@import "~bootstrap/scss/tables";

.table-noborder {
  thead th {
    border-bottom-width: 0;
  }

  th, td {
    border-top-width: 0;
  }
}


//
// Responsive tables

@mixin table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@include media-breakpoint-down(xs) {
  .table-xso-responsive { @include table-responsive; }
}
@include media-breakpoint-only(sm) {
  .table-smo-responsive { @include table-responsive; }
}
@include media-breakpoint-only(md) {
  .table-mdo-responsive { @include table-responsive; }
}
@include media-breakpoint-only(lg) {
  .table-lgo-responsive { @include table-responsive; }
}
@include media-breakpoint-up(xl) {
  .table-xlo-responsive { @include table-responsive; }
}
