@import "~bootstrap/scss/utilities/text";

//
// Font-weight
.font-weight-normal { font-weight: 400 !important; }
.font-weight-medium { font-weight: 500 !important; }
.font-weight-bold { font-weight: 700 !important; }
.font-weight-light { font-weight: 300 !important; }
