.app {
  width: 100%;
  min-height: 100%;

  @include media-breakpoint-up(xl) {
    display: flex;
  }
}

.header {
  display: flex;
  min-height: 80px;

  > .form-search {
    @include media-breakpoint-down(lg) {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      min-height: inherit;
      border: inherit;
      background-color: #fff;
      padding: 0 ($grid-gutter-width / 2);
      transform: translateY(-100%);
      transition: transform 300ms ease;

      &.form-search-show {
        transform: translateY(0);
      }
    }

    @include media-breakpoint-up(xl) {
      min-width: 570px;

      .form-control {
        border-color: transparent;
        background-color: rgba(0,0,0,0.1);

        &,
        &::placeholder {
          color: #fff;
        }
      }
    }
  }
}

.aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  box-shadow: 8px 0 15px -4px rgba(0, 0, 0, 0.05);

  @include media-breakpoint-down(lg) {
    width: 280px;
    height: 100%;
    position: fixed;
    z-index: ($zindex-modal - 1);
    left: 0;
    top: 0;
    box-shadow: none;
    overflow-x: auto;
    transform: translateX(-100%);
    transition: transform 300ms ease;

    &.aside-show {
      box-shadow: 10px 0 10px -5px rgba(0,0,0,0.1);
      transform: translateX(0);
    }
  }

  @include media-breakpoint-up(lg) {
    &.aside-minimize {
      width: 104px;

      > .header .navbar-brand,
      > .nav .nav-link-text {
        display: none;
      }

      > .nav {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;

        .nav-link {
          border-radius: $border-radius;

          > .nav-link-icon {
            margin-right: 0;
          }
        }
      }
    }
  }

  // Nav menu
  > .nav {
    width: 100%;
    padding-left: 9px;

    .nav-link {
      color: $text-muted;
      padding: ($grid-gutter-width / 2) 20px;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;

      &:hover {
        color: #fff;
        background-color: map-get($theme-colors, 'primary');
      }

      > .nav-link-icon {
        background-color: map-get($theme-colors, 'primary');
        border-radius: 50%;
        border: 2px solid #7bb4da;
        color: #fff;
        margin-right: ($grid-gutter-width / 2);
        text-align: center;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  > .header {
    @include media-breakpoint-down(lg) {
      border-bottom: 1px solid $border-color;
    }

    @include media-breakpoint-up(xl) {
      color: #fff;
      background-color: map-get($theme-colors, 'primary');
    }
  }
}

.backdrop {
  display: none;
  position: fixed;
  z-index: ($zindex-modal-backdrop - 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);

  &.backdrop-show {
    display: block;
  }
}
