<div class="p-md-4 py-4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-4 text-md-left text-center">
        <h4 class="mb-md-0 mb-4 font-weight-normal text-heading">Job#100202</h4>
      </div>
      <div class="col-md-6 text-md-right text-center">
        <button class="btn btn-primary mr-1">
          <i class="fa fa-list mr-1"></i>
          <span class="font-weight-medium">Manage Work Order</span>
        </button>

        <div class="btn-group">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-edit mr-1"></i>
            <span class="font-weight-medium">Edit</span>
          </button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Print</a>
            <a class="dropdown-item" href="#">Delete</a>
            <a class="dropdown-item" href="#">Download</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-4 mb-5">

    <div class="row">
      <div class="col-xxl-7">
        <div class="grid mb-3">
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="px-4 py-2">
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-normal text-muted py-2">Customer</h6>
                <div class="bg-success rounded px-3 py-1 text-white">
                  <span class="d-none d-md-inline">Financial Status:</span>
                  <span class="d-md-none">FS:</span>
                  <span>Active</span>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="px-4 py-3">
              <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center mb-2">
                  <i class="icon fa fa-briefcase mr-2 text-muted text-center"></i>
                  <a class="small" href="">First Express</a>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="icon fa fa-phone-square mr-2 text-muted text-center"></i>
                  <small class="text-muted">03-9517-9800</small>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="icon fa fa-envelope mr-2 text-muted text-center"></i>
                  <a class="small" href="">eveline@yahoo.com</a>
                </li>
                <li class="d-flex align-items-center">
                  <i class="icon fa fa-map-marker mr-2 text-muted text-center"></i>
                  <small class="text-muted">288 N 168th Ave #266, Camberwell West, VI, 3124, Australia</small>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="px-4 py-2">
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-normal py-2 text-muted">Site</h6>
              </div>
            </div>
            <hr class="m-0">
            <div class="px-4 py-3">
              <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center mb-2">
                  <i class="icon fa fa-briefcase mr-2 text-muted text-center"></i>
                  <a class="small" href="">15126 Goldenwest St</a>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="icon fa fa-phone-square mr-2 text-muted text-center"></i>
                  <small class="text-muted">03-9517-9800</small>
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="icon fa fa-envelope mr-2 text-muted text-center"></i>
                  <small class="text-muted">-</small>
                </li>
                <li class="d-flex align-items-center">
                  <i class="icon fa fa-map-marker mr-2 text-muted text-center"></i>
                  <small class="text-muted">-</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="grid mb-3">
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">1 Linked Contacts</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Create Contact</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">1 Total Open Quotes</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Create Quotes</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">2 Total Open Jobs</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Create Jobs</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">1 Total Maintenance Schedules</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Manage Maintenance</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">30 Total Active Assets</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Manage Assets</a>
              </div>
            </div>
          </div>
        </div>

        <div class="grid mb-3">
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">Show Financial Summary</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">Show Resource Summary</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Schedule This Job</a>
              </div>
            </div>
          </div>
        </div>

        <div class="grid mb-3">
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">0 Total Hours</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Log Time Entry</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">0 Total Materials</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Log Materials</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">0 Total Invoices</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Generate Invoice</a>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-items-center justify-content-center">
            <div class="px-4 py-3 text-center">
              <div class="small">
                <a href="">0 Total Purchase Orders</a>
              </div>
              <div class="small">
                <i class="fa fa-plus-circle text-success"></i>
                <a href="">Generate Purchase Order</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <div class="px-4 py-2">
              <h6 class="m-0 font-weight-normal py-2 text-muted">Details</h6>
            </div>

            <div id="accordionDetails" data-children=".item">
              <div class="item border border-bottom-0">
                <div class="px-4 py-2">
                  <a class="d-flex align-items-baseline" data-toggle="collapse" data-parent="#accordionDetails" href="#accordionDetailsAccountInformation">
                    <i class="fa fa-chevron-down mr-2"></i>
                    <span class="font-weight-medium py-2">Account Information</span>
                  </a>
                </div>
                <div id="accordionDetailsAccountInformation" class="bg-light collapse show">
                  <hr class="m-0">
                  <div class="px-4 py-3">
                    <form>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-control-label pl-2 text-muted font-weight-medium small">Account Owner</label>
                            <div class="custom-input-icon">
                              <span class="form-icon form-icon-right">
                                <i class="fa fa-pencil text-disabled"></i>
                              </span>
                              <input type="text" class="form-control" value="Glen Richmond">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="form-control-label pl-2 text-muted font-weight-medium small">Email</label>
                            <div class="custom-input-icon">
                              <span class="form-icon form-icon-right">
                                <i class="fa fa-pencil text-disabled"></i>
                              </span>
                              <input type="email" class="form-control" value="benjaminjones@gmail.com">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-control-label pl-2 text-muted font-weight-medium small">Account Name</label>
                            <div class="custom-input-icon">
                              <span class="form-icon form-icon-right">
                                <i class="fa fa-pencil text-disabled"></i>
                              </span>
                              <input type="text" class="form-control" value="CRM Online">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="form-control-label pl-2 text-muted font-weight-medium small">Phone</label>
                            <div class="custom-input-icon">
                              <span class="form-icon form-icon-right">
                                <i class="fa fa-pencil text-disabled"></i>
                              </span>
                              <input type="text" class="form-control" value="(043) 342-5820">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 align-self-end">
                          <div class="form-group">
                            <label class="form-control-label pl-2 text-muted font-weight-medium small">Fax</label>
                            <div class="custom-input-icon">
                              <span class="form-icon form-icon-right">
                                <i class="fa fa-pencil text-disabled"></i>
                              </span>
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="item border border-bottom-0">
                <div class="px-4 py-2">
                  <a class="d-flex align-items-baseline" data-toggle="collapse" data-parent="#accordionDetails" href="#accordionDetailsAdditionalInformation">
                    <i class="fa fa-chevron-down mr-2"></i>
                    <span class="font-weight-medium py-2">Additional Information</span>
                  </a>
                </div>
                <div id="accordionDetailsAdditionalInformation" class="bg-light collapse">
                  <hr class="m-0">
                  <div class="px-4 py-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="item border border-bottom-0">
                <div class="px-4 py-2">
                  <a class="d-flex align-items-baseline" data-toggle="collapse" data-parent="#accordionDetails" href="#accordionDetailsAddressInformation">
                    <i class="fa fa-chevron-down mr-2"></i>
                    <span class="font-weight-medium py-2">Address Information</span>
                  </a>
                </div>
                <div id="accordionDetailsAddressInformation" class="bg-light collapse">
                  <hr class="m-0">
                  <div class="px-4 py-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="item border">
                <div class="px-4 py-2">
                  <a class="d-flex align-items-baseline" data-toggle="collapse" data-parent="#accordionDetails" href="#accordionDetailsRenewalInformation">
                    <i class="fa fa-chevron-down mr-2"></i>
                    <span class="font-weight-medium py-2">Renewal / Co-Term Information</span>
                  </a>
                </div>
                <div id="accordionDetailsRenewalInformation" class="bg-light collapse">
                  <hr class="m-0">
                  <div class="px-4 py-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-5">
        <div class="row">
          <div class="col">
            <div class="border">
              <ul class="nav nav-tabs nav-fill nav-tabs-line">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#activity-tab">ACTIVITY</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#files-tab">FILES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#manage-checklist-tab">MANAGE CHECKLIST</a>
                </li>
              </ul>
              <div class="tab-content">
                <hr class="m-0">
                <div class="tab-pane fade show active" id="manage-checklist-tab">
                  <div class="p-2">
                    <table class="table table-xs-responsive table-noborder mb-0">
                      <thead>
                        <tr>
                          <th>
                            <span class="small text-secondary">Checklist Name</span>
                          </th>
                          <th>
                            <span class="small text-secondary">Type</span>
                          </th>
                          <th>
                            <span class="small text-secondary">Schedules</span>
                          </th>
                          <th class="text-center">
                            <a class="small" href="">
                              <span>Attach Checklist</span>
                              <i class="icon fa fa-paperclip"></i>
                            </a>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <a class="small" href="">Pump Diesel</a>
                          </td>
                          <td>
                            <span class="small text-secondary">Asset</span>
                          </td>
                          <td>
                            <div class="d-flex justify-content-between">
                              <span class="small text-secondary text-nowrap mr-2">Monthly</span>
                              <span class="small text-secondary">0/0</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <a class="small mx-2" href="">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a class="small text-warning mx-2" href="">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a class="small" href="">Fire Inspection Panels</a>
                          </td>
                          <td>
                            <span class="small text-secondary">Asset</span>
                          </td>
                          <td>
                            <div class="d-flex justify-content-between">
                              <span class="small text-secondary text-nowrap mr-2">6 Monthly</span>
                              <span class="small text-secondary">0/0</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <a class="small mx-2" href="">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a class="small text-warning mx-2" href="">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a class="small" href="">Hydrant Pump</a>
                          </td>
                          <td>
                            <span class="small text-secondary">Asset</span>
                          </td>
                          <td>
                            <div class="d-flex justify-content-between">
                              <span class="small text-secondary text-nowrap mr-2">6 Monthly</span>
                              <span class="small text-secondary">0/0</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <a class="small mx-2" href="">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a class="small text-warning mx-2" href="">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
